venv
./venv/
venv/
/venv/
/venv
similarity.pkl
# bapre.. 172 mb.. mhanun time lagtoy
# udya kru ya k ?
# ata hou de.. lapotp sodun debr i miss u
# umm umm arey; yaaaaaaaaaaaaaaar
# hyala timeout asto maude
# mi tr mhanto tya pkl files pn nako upload karayla
# nko  kru 